.footer{
    background-color: #E8C57E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    div{
        img{
            width: 30px;
            }    
    }
}
