header{
    background-color: #212529;
    nav{
        ul{display: flex;
            list-style: none;
            justify-content: space-evenly;
            padding: 15px 20px;
            align-items: center;
        }
    }
}