*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family:"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #F0EBA6;

}

@import "header";
@import "navBar";
@import "main-page";
@import "footer";
@import "dino-page";
@import "media-queries";